.Home {
  main {
    margin: 30px;

    .manual-feed-bt {
      width: 300px;
      height: 200px;
      font-size: 30px;
      font-weight: 700;
      background-size: 300px;
      background-repeat: no-repeat;
    }

    .ts-grid {
      margin: 0 auto;

      .list-wrapper {
        display: flex;
        justify-content: center;
        overflow: scroll;
        overflow-x: hidden;
        height: 250px;
      }
    }
  }
}